.container:first-child {
    width: 2500px;
}

h1 {
    margin: 100px 0;
}

section .btn {
    width: 130px;
    transition: all 1s !important;
}

section .btn:hover {
    width: 170px;
}

section button a,
section button a:hover {
    color: white;
    text-decoration: none !important;
}