:root {
    --main-color: rgb(13, 110, 253);
    --main-trans: rgba(13, 110, 253, 0.5);
    --main-light: rgb(128, 179, 255);
    --bs-btn-active-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "Poppins", sans-serif;
    background-color: var(--main-light);
}

/* Navbar */

nav {
    background-color: var(--main-color);
}

nav div a img {
    width: 200px;
    height: 70px;
}

nav button.navbar-toggler {
    color: white;
}

nav .navbar-nav {
    margin-left: auto;
}

nav button.signin {
    width: 80px;
    transition: all 1s;
}

nav button.signin:hover {
    color: var(--main-color);
    width: 100px;
}

/* Navbar */